*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #A1B5D8;
    font-family: 'Be Vietnam Pro', sans-serif;
}

h1{
    text-align: center;
    margin: 10px;
}

p{
    text-align: center;
    margin: 10px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

img{
    width: 300px;
    border-radius: 10%;
}

section{
    background-color:gray;
    padding: 2%;
}
h2{
    text-align: center;
} 
.skills{
    text-align: center;
}

.hard-skills{
    width: 10%;
}
.ul-skills{
    text-align: center;
    margin: 10px;
}

footer{
    text-align: center;
}

.contact{
    width: 5%;
    margin: 5px;
}